.skills{
    background-color: indianred;
}

.skills__container{}

.skills__list{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.skills__item{
    text-align: center;
}

.skills__name{
    font-weight: bold;
    margin-bottom: 10px;
}

.skills__description{
}

@media screen and (max-width: 480px) {
    .skills__list{
        flex-direction: column;
    }
}
