.work {
background-color: bisque;
}

.work__container {

}

.work__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.work__item {
    width: 100%;
    max-width: 400px;
}
.work__item:not(:last-child) {
    margin: 0 40px 0 0;
}

.work__info {
    padding: 5px;
}

.work__image_wrapper {
    width: 100%;
    height: 150px;
    position: relative;
    background-color: #888;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work__image {
}

.work__button {
    position: absolute;
}

.work__name{
    margin-bottom: 5px;
}

.work__description{}


@media screen and (max-width: 480px) {
    .work__list {
        flex-direction: column;
    }

    .work__item:not(:last-child) {
        margin: 0 0 20px 0;
    }
}